.header {
    text-align: center;
    font-family: Arial, Gill Sans, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(10, 13, 87);
    background-color: rgb(250, 249, 246);
}

.introText {
    text-align: center;
    font-family: Arial, Gill Sans, sans-serif;
    font-size: 18px;
    color: rgb(5, 7, 66);
    background-color: rgb(250, 249, 246);
}

.meimage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    border: 8px, solid, rgb(0,0,0);
    background-color: rgb(3, 5, 69);
}
