.title {
    text-align: center;
    padding-left: 15%;
    font-family: Arial, Gill Sans, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(5, 7, 66);
    background-color: rgb(250, 249, 246);
}

.introText {
    text-align: center;
    padding-left: 15%;
    font-family: Arial, Gill Sans, sans-serif;
    font-size: 18px;
    color: rgb(5, 7, 66);
    background-color: rgb(250, 249, 246);
}
